<a
  class="p-4 sm:w-1/2 lg:w-1/3 w-full hover:scale-105 duration-500"
  routerLink="/details/{{ hotel.id }}"
>
  <div
    class="flex items-center justify-between p-4 rounded-lg bg-white shadow-indigo-50 shadow-md"
  >
    <div>
      <h2 class="text-gray-900 text-lg font-bold">{{ hotel.menu }}</h2>
      <h3 class="mt-2 text-xl font-bold text-orange-500 text-left">
        $ {{ hotel.price }}
      </h3>
      <p class="text-sm font-semibold text-gray-400"></p>
      <button
        class="text-sm mt-6 px-4 py-2 bg-orange-400 text-white rounded-lg tracking-wider hover:bg-orange-500 outline-none"
      >
        Add to cart
      </button>
    </div>
    <div
      class="bg-gradient-to-tr from-orange-500 to-orange-400 w-32 h-32 rounded-full shadow-2xl shadow-orange-400 border-white border-dashed border-2 flex justify-center items-center"
    >
      <div>
        <h1 class="text-white text-2xl">{{ hotel.id }}</h1>
      </div>
    </div>
  </div>
</a>
